img {
    -moz-transform: translate(0px, -60px);
    -webkit-transform: translate(0px, -60px);
    -o-transform: translate(0px, -60px);
    -ms-transform: translate(0px, -60px);
    transform: translate(0px, -60px);
    position: relative;
    object-fit: cover;
    z-index: 0;
}
header {
    height: 80px;
    background-color: #f4f4f4;
    border-bottom: 2px groove #0088ff;
}
main {
    width: 80%;
    margin: auto;
    margin-top: 3%;
    min-height: 835px;
}
footer {
    height: 35px;
    background-color: #f4f4f4;
    border-top: 2px ridge #0088ff;
    vertical-align: middle;
    text-align: center;
}
#about-photo-1 {
    border: 2px ridge #0088ff;
    border-radius: 10px;
    -moz-transform: translate(0px, 30px);
    -webkit-transform: translate(0px, 30px);
    -o-transform: translate(0px, 30px);
    -ms-transform: translate(0px, 30px);
    transform: translate(0px, 30px);
    position: relative;
}
#about-photo-2 {
    border: 2px ridge #0088ff;
    border-radius: 10px;
    -moz-transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
    position: relative;
}
#about-photo-3 {
    border: 2px ridge #0088ff;
    border-radius: 10px;
    margin-left: 35px;
    -moz-transform: translate(0px, 150px);
    -webkit-transform: translate(0px, 150px);
    -o-transform: translate(0px, 150px);
    -ms-transform: translate(0px, 150px);
    transform: translate(0px, 150px);
    position: relative;
}