img {
    -moz-transform: translate(0px, -60px);
    -webkit-transform: translate(0px, -60px);
    -o-transform: translate(0px, -60px);
    -ms-transform: translate(0px, -60px);
    transform: translate(0px, -60px);
    position: relative;
    object-fit: cover;
}
header {
    height: 80px;
    background-color: #f4f4f4;
    border-bottom: 2px groove #0088ff;
}
main {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-top: 3%;
}