<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'admin_wall_style.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <title>The Prospector - Admin Wall</title>
    </head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="prospector-logo">
                </div> 
                <div class="col-7">
                    <ul class="nav mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search/history">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/watchlist">Watchlist</a>
                        </li>
                        {% if logged_user.admin == True %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/wall">Comments</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 mt-4 text-center text-primary">
                    <p>Welcome, {{ logged_user.first_name }}!</p>
                </div>
                <div class="col-1 mt-4">
                    <a href="/users/{{ logged_user.id }}">Profile</a> | <a href="/logout">Log Out</a>
                </div>   
            </div>     
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row searchtablescroll">
                <div class="col-12">
                    <h5>All Notes:</h5>
                    {% for note in notes %}
                        <h6 class="text-secondary mt-3 ml-2">Note posted by <span class="text-primary">{{ note.user.first_name }}</span> for <a href="/company/{{note.company.id}}">{{ note.company.name }}</a> on <span class="text-primary">{{ note.created_at }}</span>:</h6>
                        <p class="ml-5">{{ note.content }}</p>
                        <div class="ml-5">
                            {% for comment in note.comments.all %}
                                <h6 class="text-secondary mt-3 ml-2">Comment posted by <span class="text-primary">{{ comment.user.first_name }}</span> on <span class="text-primary">{{ comment.created_at }}</span>:</h6>
                                <p class="ml-5">{{ comment.content }}</p>
                            {% endfor %}
                        </div>
                        <form class="mb-5" action="/processcomment" method="POST">
                            {% csrf_token %}
                            <label for="note-form" class="form-label">Comment on {{ note.user.first_name }}'s note:</label>
                            <textarea class="form-control" id="note-form" rows="2" name="content"></textarea>
                            <input type="hidden" name="note_id" value="{{ note.id }}">
                            <div id="errors">
                                {% if messages and request.session.noteid == note.id%}
                                        {% for message in messages %}
                                            <p class="errors">{{ message }}</p>
                                        {% endfor %}
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Add Comment</button>
                        </form>
                    {% endfor %}
                </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="text-secondary m-0">The Prospector is a FREE, open-source tool developed by <a href="https://www.linkedin.com/in/harrison-richardson-cissp-7a55bb158/" target="_blank">R-s0n</a>.  Source code can be downloaded from the GitHub repository <a href="#"  target="_blank">here</a>, and an <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html"  target="_blank">Amazon Machine Image (AMI)</a> can be downloaded <a href="#"  target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>