<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'add_contact_style.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <title>Add Contact</title>
    </head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="prospector-logo">
                </div> 
                <div class="col-7">
                    <ul class="nav mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search/history">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/watchlist">Watchlist</a>
                        </li>
                        {% if logged_user.admin == True %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/wall">Comments</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 mt-4 text-center text-primary">
                    <p>Welcome, {{ logged_user.first_name }}!</p>
                </div>
                <div class="col-1 mt-4">
                    <a href="/users/{{ logged_user.id }}">Profile</a> | <a href="/logout">Log Out</a>
                </div>   
            </div>     
        </div>
    </header>
    <main>
        
        <h3 class="text-secondary">Edit Contact - <span class="text-primary">{{ this_contact.name }}</span></h3>
        <form class="form" action="/processeditcontact" method="POST">
            {% csrf_token %}
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" value="{{ this_contact.first_name }}">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" value="{{ this_contact.last_name }}">
            <label for="email" class="form-label">Email Address</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ this_contact.email }}">
            <label for="linked_in" class="form-label">Linked In</label>
            <input type="text" class="form-control" id="linked_in" name="linked_in" value="{{ this_contact.linked_in }}">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" name="department" value="{{ this_contact.department }}">
            <label for="position" class="form-label">Job Title</label>
            <input type="text" class="form-control" id="position" name="position"  value="{{ this_contact.position }}">
            <label for="notes" class="form-label">Additional Notes</label>
            <textarea class="form-control" name="notes" id="notes"rows="5">{{ this_contact.notes }}</textarea>
            <input type="hidden" name="contact_id" value="{{ this_contact.id }}">
            <div id="errors">
                {% if messages %}
                        {% for message in messages %}
                            <p class="errors">{{ message }}</li>
                        {% endfor %}
                {% endif %}
            </div>
            <p class="text-secondary mt-3">Empty fields will default to "Unknown"</p>
            <button type="submit" class="btn btn-primary">Edit Contact</button>
        </form>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="text-secondary m-0">The Prospector is a FREE, open-source tool developed by <a href="https://www.linkedin.com/in/harrison-richardson-cissp-7a55bb158/" target="_blank">R-s0n</a>.  Source code can be downloaded from the GitHub repository <a href="#"  target="_blank">here</a>, and an <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html"  target="_blank">Amazon Machine Image (AMI)</a> can be downloaded <a href="#"  target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>