<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'user_profile_style.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <title>Users Profile</title>
    </head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="prospector-logo">
                </div> 
                <div class="col-7">
                    <ul class="nav mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Favorites</a>
                        </li>
                        {% if logged_user.admin == True %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Comments</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 mt-4 text-center text-primary">
                    <p>Welcome, {{ logged_user.first_name }}!</p>
                </div>
                <div class="col-1 mt-4">
                    <a href="/users/{{ logged_user.id }}">Profile</a> | <a href="/logout">Log Out</a>
                </div>   
            </div>     
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-9">
                    <h2>{{ this_user.first_name }} {{ this_user.last_name }}</h2>
                    <h4>User ID: {{ this_user.id }}</h4>
                    <h4>Email: {{ this_user.email }}</h4>
                    <h4>Privileges: {% if this_user.admin == True %}Administrator{% endif %}{% if this_user.admin == False %}User{% endif %}</h4>
                    <h5>Registered On: {{ this_user.created_at }}</h5>
                    <h5>Last Login: {{ this_user.last_login }}</h5>
                </div>
                <div class="col-1">
                    {% if logged_user.admin == True or this_user.id == logged_user.id %}
                        <a href="/users/{{ this_user.id }}/edit">Edit Profile</a>
                    {% endif %}
                </div>
                <div class="col-2">
                    <a href="/users">All Users</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>