<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'user_profile_style.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <title>The Prospector - User Profile</title>
    </head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="prospector-logo">
                </div> 
                <div class="col-7">
                    <ul class="nav mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search/history">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/watchlist">Watchlist</a>
                        </li>
                        {% if logged_user.admin == True %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/wall">Comments</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 mt-4 text-center text-primary">
                    <p>Welcome, {{ logged_user.first_name }}!</p>
                </div>
                <div class="col-1 mt-4">
                    <a href="/users/{{ logged_user.id }}">Profile</a> | <a href="/logout">Log Out</a>
                </div>   
            </div>     
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-9 pl-5">
                    <h2 class="display-4 text-primary" style="font-weight: lighter;">{{ this_user.first_name }} {{ this_user.last_name }}</h2>
                    <p class="text-secondary mt-4">User ID: {{ this_user.id }}</h4>
                    <p class="text-secondary">Email: {{ this_user.email }}</h4>
                    <p class="text-secondary">Privileges: {% if this_user.admin == True %}Administrator{% endif %}{% if this_user.admin == False %}User{% endif %}</h4>
                    <p class="text-secondary">Registered On: {{ this_user.created_at }}</h5>
                    <p class="text-secondary">Last Login: {{ this_user.last_login }}</h5>
                    <p class="text-secondary">Total Searches: {{ this_user.searches.all|length }}</h5>
                    <p class="text-secondary">Total Companies Watchlisted: {{ this_user.watchlisted_companies.all|length }}</h5>
                    <p class="text-secondary">Total Notes: {{ this_user.notes.all|length }}</h5>
                </div>
                <div class="col-1">
                    {% if logged_user.admin == True or this_user.id == logged_user.id %}
                        <a href="/users/{{ this_user.id }}/edit">Edit Profile</a>
                    {% endif %}
                </div>
                <div class="col-2">
                    <a href="/users">All Users</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="text-secondary m-0">The Prospector is a FREE, open-source tool developed by <a href="https://www.linkedin.com/in/harrison-richardson-cissp-7a55bb158/" target="_blank">R-s0n</a>.  Source code can be downloaded from the GitHub repository <a href="https://github.com/R-s0n/The-Prospector"  target="_blank">here</a>, and an <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html"  target="_blank">Amazon Machine Image (AMI)</a> can be downloaded <a href="https://us-east-2.console.aws.amazon.com/ec2/v2/home?region=us-east-2#Images:visibility=public-images;imageId=ami-08fd87bdba6b37a72;sort=name"  target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>