<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'users_style.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <title>Users</title>
    </head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="prospector-logo">
                </div> 
                <div class="col-7">
                    <ul class="nav mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search/history">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/watchlist">Watchlist</a>
                        </li>
                        {% if logged_user.admin == True %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/wall">Comments</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 mt-4 text-center text-primary">
                    <p>Welcome, {{ logged_user.first_name }}!</p>
                </div>
                <div class="col-1 mt-4">
                    <a href="/users/{{ logged_user.id }}">Profile</a> | <a href="/logout">Log Out</a>
                </div>   
            </div>     
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <h2>Manage Users</h2>
                </div>
                <div class="col-1 mt-3">
                    {% if logged_user.admin == True %}
                        <a href="/adduser">Add New</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <table class="table table-hover mt-2">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Privileges</th>
                {% if logged_user.admin == True %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            {% for user in all_users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="/users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_login }} UTC</td>
                    <td>{% if user.admin == True %}Administrator{% endif %}{% if user.admin == False %}User{% endif %}</td>
                    {% if logged_user.admin == True %}
                        <td><a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/delete">Remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="text-secondary m-0">The Prospector is a FREE, open-source tool developed by <a href="https://www.linkedin.com/in/harrison-richardson-cissp-7a55bb158/" target="_blank">R-s0n</a>.  Source code can be downloaded from the GitHub repository <a href="#"  target="_blank">here</a>, and an <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html"  target="_blank">Amazon Machine Image (AMI)</a> can be downloaded <a href="#"  target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>